@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-stencil: var(--font-allerta-stencil);
  --font-mono: var(--font-geist-mono);
  --font-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

.StripeElement {
  font-family: var(--font-montserrat), -apple-system, BlinkMacSystemFont,
    sans-serif !important;
}
