name: Deploy front

on:
  push:
    branches: [main, devops]

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up environment variables
      run: |
        echo "${{ secrets.ENV }}" >> .env
        echo "NEXT_PUBLIC_PADDLE_CLIENT_SIDE_TOKEN=${{ secrets.NEXT_PUBLIC_PADDLE_CLIENT_SIDE_TOKEN }}" >> .env
    
    - name: Deploy with compose
      run: |
        docker compose up -d --build